body{
    margin-left: 13px;
    margin-right: 13px;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
[v-cloak]{
    display: none;
}